<%

var doctorID = appointmentData.DoctorId;
var roomID = appointmentData.RoomId;
var statusID = appointmentData.StatusId;
//console.log("statusID: "+statusID);
if(Array.isArray(doctorID)){
    doctorID = doctorID[0];
}

if(Array.isArray(roomID)){
    roomID = roomID[0];
}

var doctor = getDoctorById(doctorID);
var room = getRoomById( roomID);
var status = getStatusById(statusID);

%>

<div class="showtime-preview">

    <div><%- doctor.Name %> (<%- room.Name %>)</div>
    <div>
        Address: <strong><%- appointmentData.Address %> </strong>
    </div>
    <div>
        <%- formatTime(new Date(appointmentData.Date)) %> -
        <%- formatTime(new Date(appointmentData.Time)) %>
    </div>
</div>